* {
    box-sizing: border-box;
    }

    #google_translate_element {
    z-index: 9999;
    }

    .goog-te-gadget {
    font-family: Roboto, "Open Sans", sans-serif !important;
    text-transform: uppercase;
    }

    .goog-te-gadget-simple {
    background-color: rgba(0, 0, 0, 0.5) !important;
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
    padding: 3px !important;
    border-radius: 4px !important;
    font-size: 0.8rem !important;
    line-height: 2rem !important;
    display: inline-block;
    cursor: pointer;
    zoom: 1;
    margin-bottom: 4px;
    }

    .goog-te-menu2 {
    max-width: 100%;
    }

    .goog-te-menu-value {
    color: #fff !important;
    }
    .goog-te-menu-value:before {
    font-family: 'Material Icons';
    content: "\E927";
    margin-right: 16px;
    font-size: 2rem;
    vertical-align: -10px;
    }

    .goog-te-menu-value span:nth-child(5) {
    display: none;
    }

    .goog-te-menu-value span:nth-child(3) {
    border: none !important;
    font-family: 'Material Icons';
    }
    .goog-te-menu-value span:nth-child(3):after {
    font-family: 'Material Icons';
    content: "\E5C5";
    font-size: 1.5rem;
    vertical-align: -6px;
    }

    .goog-te-gadget-icon {
    background-position: 0px 0px;
    height: 32px !important;
    width: 32px !important;
    margin-right: 8px !important;
    display: none;
    }

    .goog-te-banner-frame.skiptranslate {
    display: none !important;
    }

    body{
        top: 0px !important;
        max-width:100%;
        margin:0;
        padding:0;
        overflow-x:hidden;
    }

    .hero-equal-height {
        background: url("../../img/innovate.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .hero-section {
        background: url("../img/hero-bg5.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .lead {
        font-size: 1rem;
        font-weight: 300;
    }
    .btn-custom {
        color: #bdc3c7;
        font-size: 18px;
        border: 1px solid #bdc3c7;
    }
    .btn-custom:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
    }
    #pricing-table {
    padding-top: 50px;
    }
    .pricing {
    margin: 0;
    padding: 0;
    font-family: 'Robot', sans-serif;
    }
    .pricing .pricing-table {
    padding-bottom: 30px;
    }
    .pricing .pricing-table .pricing-header {
    position: relative;
    background: #0e1746;
    padding: 22px 22px;
    text-align: center;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    }
    .pricing .pricing-table .pricing-header .pricing-title {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    }
    .pricing .pricing-table .pricing-header .pricing-rate {
    font-size: 70px;
    font-weight: 700;
    color: #ffffff;
    position: relative;
    text-align: center;
    }
    .pricing .pricing-table .pricing-header .pricing-rate sup {
    font-size: 24px;
    position: relative;
    top: -30px;
    color: #bdc3c7;
    }
    .pricing .pricing-table .pricing-header .pricing-rate span {
    font-size: 16px;
    color: #bdc3c7;
    text-transform: uppercase;
    }
    .pricing .pricing-list {
    padding: 20px 0 40px 0;
    border: 1px solid #0e1746;
    }
    .pricing .pricing-list ul {
    padding: 0px;
    display: table;
    margin: 0px auto;
    }
    .pricing .pricing-list ul li {
    list-style: none;
    border-bottom: 1px solid #EAECEB;
    color: #bdc3c7;
    font-size: 16px;
    line-height: 42px;
    }
    .pricing .pricing-list ul li:last-child {
    border: none;
    }
    .pricing .pricing-list ul li i {
    margin-right: 12px;
    color: #fff;
    }
    .pricing .pricing-list ul li span {
    color: #fff;
    font-weight: 700;
    }

    .cah2 {
        color: #8e54e9;
        font-size: 20px;
        font-weight: 800;
        text-align: center;
        text-transform: uppercase;
        position: relative;
    }
    .cah2::after {
        content: "";
        width: 100px;
        position: absolute;
        margin: 0 auto;
        height: 4px;
        border-radius: 1px;
        background: #8e54e9;
        left: 0;
        right: 0;
        bottom: -20px;
    }
    .carousel_test {
        margin: 50px auto;
        padding: 0 10px;
    }
    .carousel_test .item {
        color: #ffffff;
        overflow: hidden;
        min-height: 120px;
        font-size: 13px;
    }
    .carousel_test .media img {
        width: 40px;
        height: 40px;
        display: block;
        border-radius: 50%;
    }
    .carousel_test .testimonial {
        padding: 0 10px 0 10px ;
        position: relative;
    }
    .carousel_test .overview b {
        text-transform: uppercase;
        color: #8e54e9;
    }

    @media screen and (max-width: 992px) {
    .me_table::-webkit-scrollbar {
    display: none !important;
    overflow-x: scroll;
    }

    .rem-home{
            padding: 9rem 0 5rem 0;
        } 
        
    @media screen and (max-width: 992px) {
        .rem-home{
            padding: 6rem 0 5rem 0;
        } 
    }

    /* Hide scrollbar for IE and Edge */
    .me-table {
    -ms-overflow-style: none !important;
    overflow-x: scroll;
    }
    }

    .me_icon {
        margin-top: 10px;
        color: #fff;
    }

    .token_rtinfo {
        color: #fff;
        border-radius: 10px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        margin-top: -80px;
        padding: 40px 15px;
        background-color: rgba(255,255,255,0.10);
        box-shadow: none !important;
    }

    .token_rt_value {
        padding: 0 25px;
    }

    .me_big{
        font-size: 1rem !important;
        line-height: normal !important;
    }

    .tradingview-widget-copyright{
        display: none !important;
    }

    .badge {
        border-radius: 50px;
        padding: 0.2rem 1rem;
        color: #fff;
        text-align: center;
    }

    .pricing-rate sup {
    font-size: 24px;
    position: relative;
    left: -20px;
    top: -30px;
    }

    .pricing-rate span {
    font-size: 12px;
    color: #707070;
    text-transform: uppercase;
    right: -600px;
    }

    .pricing-rate {
    font-size: 70px;
    font-weight: 700;
    color: #1a2c79;
    position: relative;
    text-align: center;
    }


    /* ================================== *\
        Mediaqueries
    \* ================================== */
    @media (max-width: 667px) {
        /* #google_translate_element {
        }
        #google_translate_element goog-te-gadget {
        }
        #google_translate_element .skiptranslate {
        } */
        #google_translate_element .goog-te-gadget-simple {
            text-align: center;
        }
    }